.container {
  width: 100%;
  max-width: 1200px;
  box-sizing: border-box;
}

[class*='col-'] {
        float: left;
        min-height: 1px;
        width: 4%;
        padding: 12px;
        background-color: white;
        border: solid;
    }

.row:before,
.row:after {
  content:"";
  display: table ;
  clear:both;
}

.row {
  background-color: white;
  border: dotted;
}

.spacer { ;}

.col-1 {
  display: inline;
  width: 4.45%;
  height: 35px;
  float:center;
}

.col-4 {
  width: 25%;
  float: left;
  margin: 1%;
}

.col-6 {
  width: 45.40%;
  margin: 1%;
}

.col-8 {
  width: 65%;
  float: right;
  margin: 1%;
}
