.container {
  width: 100%;
  max-width: 1200px;
  box-sizing: border-box;
}

/*.container*{
  box-sizing: border-box;
}*/

/*.row:before,
.row:after {
      content:"";
      display: table ;
      clear:both;
      border: dashed;
      background-color: gray;
  }*/

.spacer { }

.row1 {
  background-color: gray;
  border: dashed;
  }

.row2 {
  background-color: gray;
  border: dashed;
  height: 325px;
}

.row3 {
  background-color: gray;
  border: dashed;
  width: 60%;
  float: right;
  display: inline;

    }

.row4 {
  background-color: gray;
  border: dashed;
  height:150px;
}


/*[class*='col-'] {
  float: left;
  min-height: 1px;
  width: 8.33%;
        /*-- our gutter --*/
 /* padding: 12px;
  background-color: #FFDCDC;
}*/*/

.col-1{ width: 4%;
        display: inline;
        background-color: red;
      }


.col-4{ width: 33.33%;
        float: left;
        height: 125px;
        background-color: white;
        }

.col-8 {width: 65%;
        float: right;
        background-color: white;
        height: 250px;
        display: inline;
        }

.col-6{ width: 40%;
        float: left;
        background-color: white;
        border: solid;
        }

 /*whats working*/



/*.row {
  content: "";
  display: table;
  clear:both;
  width : 100%;
  max-width: 1200px;
  border: dashed;
  background-color: gray;
}*/

/*.col-1{
  width:8.33%;
  border: solid;
  background-color: white;
}
/**/

/*
.col-4 {
  float: left;
  width:20%;
  border: solid;
  background-color: white;
}

.col-6 {
  float: left;
  border:solid;
  background-color: white;
  width:50%);
}

.col-8 {
  float: right;
  width:70%;
  border: solid;
  background-color: white;
}*
